Generate daily top rust news from RSS feeds with deepseek.json
{
  "name": "Generate daily top rust news from RSS feeds with deepseek",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f08a520-7217-419c-8088-e28a77eca312",
              "name": "rust-rss",
              "type": "string",
              "value": "https://blog.rust-lang.org/feed.xml"
            }
          ]
        },
        "options": {}
      },
      "id": "bff36b83-a717-4e88-a074-e0d7e03d0701",
      "name": "Define News Categories1",
      "type": "n8n-nodes-base.set",
      "position": [
        1568,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst result = Object.entries(data).map(([key, value]) => {\n  return {\n    json: {\n      Rss_Feed: value\n    }\n  };\n});\n\nreturn result;"
      },
      "id": "7cc1a441-e081-4f99-ae1d-04f8792b8b3e",
      "name": "Prepare RSS Feed List1",
      "type": "n8n-nodes-base.code",
      "position": [
        1824,
        704
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ca8e917e-cb0e-40ef-b8cb-756e66edb099",
      "name": "Loop Through RSS Feeds1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2080,
        704
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "={{ $json.Rss_Feed }}",
        "options": {}
      },
      "id": "dde76c1e-2e29-46a2-8c02-1491084c1eaf",
      "name": "Fetch RSS Articles1",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        2288,
        800
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.all().map(item => ({\n  title: item.json.title,\n  link: item.json.link,\n  pubDate: item.json.pubDate,\n  contentSnippet:item.json.contentSnippet\n}));\n\nreturn [\n  {\n    chatInput: {\n      articles\n    }\n  }\n];"
      },
      "id": "3c1bdd0a-e8b1-4b1e-b781-cdefbe162594",
      "name": "Merge All RSS Articles1",
      "type": "n8n-nodes-base.code",
      "position": [
        2688,
        688
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "# Daily RSS News Digest to Slack\n\nThis workflow automatically collects global news from multiple RSS feeds, selects the most important stories using AI, and posts a clean daily news digest to a Slack channel.\n\nThe automation runs every morning, gathers the latest articles from different news categories, and uses AI to identify the stories that have the greatest global impact.\n\nThe final curated news digest is then formatted and delivered directly to a Slack channel for easy reading by the team.\n\n## How it works\nStep 1: The workflow runs on a scheduled trigger every morning.\n\nStep 2: A list of RSS feeds from different news categories (such as global news, finance, technology, and tech trends) is prepared.\n\nStep 3: The workflow loops through each RSS feed and retrieves the latest articles.\n\nStep 4: The articles are sorted by publication date so that only the most recent news is considered.\n\nStep 5: All collected articles are merged into a single dataset.\n\nStep 6: An AI agent analyzes the list of articles and selects the most globally impactful stories based on topics like global politics, economic events, technological developments, and major world events.\n\nStep 7: The selected stories are formatted into a readable news digest.\n\nStep 8: The final digest is automatically posted to a Slack channel.\n\n## Setup steps\n1. Configure the Slack credentials and select the channel where the news digest should be posted.\n2. Add or modify the RSS feed URLs if you want to change the news sources.\n3. Configure the AI model credentials.\n4. Review and adjust the AI prompt if needed.\n5. Activate the workflow.\n\nOnce activated, the workflow will automatically deliver an AI-curated global news digest to Slack every morning.",
        "height": 864,
        "width": 784
      },
      "id": "f66a162c-13f3-4b4a-8b55-b9308cee1573",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 1 – Workflow Trigger & RSS Feed Preparation\n\nRuns every morning and prepares the list of RSS feeds that will be used to collect news articles from multiple categories.",
        "height": 624,
        "width": 800,
        "color": 7
      },
      "id": "c6a7fff9-1988-4737-a49e-bdbf105474f1",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 2 – RSS Article Collection & Processing\n\nLoops through each RSS feed, fetches the latest articles, filters recent ones, and merges them into a single dataset.",
        "height": 624,
        "width": 816,
        "color": 7
      },
      "id": "f3d25a98-e663-4b35-bf1d-e5d0ee3f1270",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2016,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 3 – AI News Selection & Slack Delivery\n\nAI analyzes the collected articles, selects the most globally impactful stories, and posts the final news digest to Slack.",
        "height": 704,
        "width": 1072,
        "color": 7
      },
      "id": "a1b45760-5b23-459f-a81d-1dea2f2fea86",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2864,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Given latest news from the rust blog, write a summery of them. Reply only use english. Only return json structured output under the key content and no markdown formatting."
        }
      },
      "id": "cc80a7d0-dbdf-47b0-8342-9329a19129cf",
      "name": "AI Agent2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2944,
        688
      ],
      "typeVersion": 3,
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2944,
        912
      ],
      "id": "d56b2edc-62ed-4430-8f37-a42ff19cbd92",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "JLDyoSVUoo9SNAMz",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"zh-CN\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n</head>\n<body>\n  <div class=\"container\">\n    <h1>RSS LOG FROM RUST</h1>\n    <div class=\"output\">\n      {{ $json.output.parseJson().content }}\n    </div>\n  </div>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3280,
        688
      ],
      "id": "90cad924-e5cd-4b85-bd85-dff20bfa3910",
      "name": "HTML"
    },
    {
      "parameters": {
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        3504,
        688
      ],
      "id": "fe4d33e1-3ec4-48ac-913b-8bcb9cb85c8b",
      "name": "Markdown"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "rpan2022"
        },
        "repository": {
          "__rl": true,
          "value": "my-rust-rss-sumery",
          "mode": "list",
          "cachedResultName": "my-rust-rss-sumery",
          "cachedResultUrl": "https://github.com/rpan2022/my-rust-rss-sumery"
        },
        "filePath": "=result-{{$now.toString()}}.md",
        "fileContent": "={{ $json.html }}",
        "commitMessage": "=add a new file"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3680,
        688
      ],
      "id": "b860c3a8-5916-46a1-8e81-e281b762a658",
      "name": "Create a file",
      "webhookId": "cb5b5f63-7966-4be7-a5a2-fd996bbed82a",
      "credentials": {
        "githubApi": {
          "id": "yPbBZpd54T8i1ywX",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1328,
        704
      ],
      "id": "70a8d4d1-e854-4948-947a-1c0619b5f488",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst allItems = $input.all();\n\n// Sort by latest date\nallItems.sort((a, b) => {\n  return new Date(b.json.isoDate).getTime() - new Date(a.json.isoDate).getTime();\n});\n\n// Return top 10\nreturn allItems.slice(0, 2);"
      },
      "id": "f32a01ab-4818-4b1f-80a1-35c6a213f174",
      "name": "Filter Latest 2 Articles",
      "type": "n8n-nodes-base.code",
      "position": [
        2480,
        800
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent2": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Articles1": {
      "main": [
        [
          {
            "node": "Filter Latest 2 Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RSS Feed List1": {
      "main": [
        [
          {
            "node": "Loop Through RSS Feeds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define News Categories1": {
      "main": [
        [
          {
            "node": "Prepare RSS Feed List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through RSS Feeds1": {
      "main": [
        [
          {
            "node": "Merge All RSS Articles1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch RSS Articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All RSS Articles1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Define News Categories1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Latest 2 Articles": {
      "main": [
        [
          {
            "node": "Loop Through RSS Feeds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "33468401-f497-43a0-adae-358c52ddcb3f",
  "meta": {
    "templateId": "14150",
    "templateCredsSetupCompleted": true,
    "instanceId": "220e864d124adc384c0c8f21bd54c667fda803e80a9f5090448c52f9b7d86115"
  },
  "nodeGroups": [],
  "id": "Xqg4Vd0RXq6GTtRz",
  "tags": []
}